.alert-success {
  z-index: 1;
  background: #d4edda;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #3ad66e;
  border-radius: 4px;
}

.alert-error {
  z-index: 1;
  background: #fff3cd;
  font-size: 18px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-left: 8px solid #ffa502;
  border-radius: 4px;
}
